* {
    padding: 0;
    margin: 0;
}





#ans-header {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* margin: -10px;
    margin-bottom: 10px;
    padding: -10px;
    padding-bottom: 10px; */
}

.ans-navbar li {
    list-style: none;
}

#ans-header a {
    text-decoration: none;
    color: #262626;
}

.ans-navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.ans-nav-item input{
    border: none;
    border-bottom: 1px solid #262626;
    outline: none;
    padding: 5px;
    width: 100px;
    margin-right: 10px;
    font-size: 14px;
}

.ans-nav-item button{
    border: none;
    background-color: white;
    cursor: pointer;
}

.ans-nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.ans-hamburger {
    display: none;
    cursor: pointer;
}

.ans-bar {
    display: block;
    height: 3px;
    width: 25px;
    margin: 5px auto;
    background-color: #262626;
}


#ans-login-cart-container{
    display: flex;
}

/* #ans-header-right img{
    margin-top: 3px;
} */

/* ans-login-cart-container */
#ans-login-btn {
    background-color: #fed33c;
    color: #262626;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    font-size: 12px;
    cursor: pointer;
    margin-right: 20px;
}



#parent>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#cart{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: greenyellow;
}

#inpButton {
    width: 10%;
    border: none;
    color: white;
    background-color: black;
    height: 30px;
    border-radius: 20px;
    margin: 20px 0 20px 0;
}

#button:hover {
    background-color: green;
}
#checkoutBtn{
    width: 95%;
    display: flex;
    justify-content: end;
    margin: -50px 0 0 0;
}
#parent{
    /* width: 90%; */
    padding: 5%;
}

/* #div1{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.qtnButtons{
    border: 1px solid black;
    width: 5%;
    height: 50%;
    border-radius: 5px;
    background-color: #ff576f;
}
.round, #box4{
    width: 33%;
    height: 100%;
    border: none;
    color: wheat;
    background-color: #ff576f;
}

#productImage{
    width: 250px;
    padding: 20px;
    border-radius: 10%;
}

#cart{
    background-color: black;
    color: white;
    height: 30px;
    border-radius: 10px;
}
#myCart{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 20px 0 -50px 0;
}
#myCart2{
    color: #ff576f;
}
#mainContainer{
    border-radius: 10px;
}
#deletePng{
    width: 3%;
    /* color: #ff576f; */
    /* background-color: #ff576f; */
}


@media(max-width: 790px) {
    /* .ans-hamburger {
        display: block;
    } */
    .ans-hamburger.active .ans-bar:nth-child(2) {
        opacity: 0;
    }
    .ans-hamburger.active .ans-bar:nth-child(1) {
        transition: 0.3s;
        transform: translateY(8px) rotate(45deg);
    }

    .ans-hamburger.active .ans-bar:nth-child(3) {
        transition: 0.3s;
        transform: translateY(-8px) rotate(-45deg);
    }
    .ans-nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0px;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .ans-nav-item {
        margin: 16px 0;
    }
    .ans-nav-menu.active {
        left: 0;
    }
    #productImage{
        /* width: 80px; */
        height: 50px;
    }
    #checkoutBtn{
        margin: 50px 0 0 0;
    }
    #parent{
        padding: 10px;
    }   
    #deletePng{
        width: 25px;
    }
    .qtnButtons{
        display: flex;
        flex-direction: column;
        margin: 10px;
        border-radius: 0;
        width: 10px;
        /* padding: -10px; */
    }
}

@media(max-width: 540px){
    #ans-logo-link{
        /* display: none; */
        width: 110px;
    }
    #productImage{
        /* width: 80px; */
        height: 30px;
    }
    #inpButton{
        margin: -40px 0 0 0;
        width: 30%;
    }
    #parent{
        margin-top: 20px;
        padding: 10px;
    }
    .qtnButtons{
        display: flex;
        flex-direction: column;
        margin: 10px;
        border-radius: 0;
        width: 10px;
        /* padding: -10px; */
    }
    #deletePng{
        width: 20px;
    }
    /* .ans-navbar{
        justify-content: space-around;
    } */
}






